name: MLOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      
      - name: Train model with MLflow
        run: |
          python train.py

      
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/bank-marketing-api:latest .

      
      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/bank-marketing-api:latest
